<div class="tabs-container">
  <div class="nav-tabs">
    <ul class="nav">
      <li class="nav-item" *ngFor="let tab of tabs; let i = index" [class.active]="i === activeTabIndex">
        <a class="nav-link title-color mt-1" (click)="activateTab(i)">
          <span class="icon-wrapper" [ngClass]="{'mobile-view': isMobile}">
            <fa-icon [icon]="userIcon"></fa-icon>
            &nbsp;
            <span class="tab-title" *ngIf="!isMobile">{{ tab.title | truncatePipe }}</span>
          </span>
          <span class="close-icon" (click)="closeTab(tab.id,i)" *ngIf="!isMobile">
            <fa-icon [icon]="closeIcon"></fa-icon>
          </span>
        </a>
      </li>
      <li class="nav-item add-tab">
        <a (click)="openAddEditDialog('add')">
          <fa-icon [icon]="plusIcon"></fa-icon>
        </a>
      </li>
    </ul>
    <div class="dropdown">
      <button class="btn active-tab" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        <a>
          <fa-icon [icon]="downIcon"></fa-icon>
        </a>
      </button>
      <ul class="dropdown-menu">
        <a class="nav-link">
          <h5>Active Tab</h5>
        </a>
        <li *ngFor="let tab of tabs; let i = index">
          <a class="dropdown-item nav-link title-color">
            <div (click)="activateTab(i)" class="w-100">
              <span>{{ tab.title | truncatePipe }}</span>
            </div>
            <span (click)="closeTab(tab.id,i)">
              <fa-icon [icon]="closeIcon"></fa-icon>
            </span>
          </a>
        </li>
        <ng-container *ngIf="!tabs.length">
          <div class="text-center">
            <span>No data available</span>
          </div>
        </ng-container>
      </ul>
    </div>
  </div>
</div>
<div class="tab-content">
  <ng-container *ngFor="let tab of tabs; let i = index ">
    <div class="tab-pane active " [class.active]="i === activeTabIndex">
      <div class="d-flex justify-content-center mt-4">
        <h1>
          {{ tab.title}}
        </h1>
        <span class="edit-icon" (click)="openAddEditDialog('edit',tab.id,tab.title)">
          <fa-icon [icon]="editIcon"></fa-icon>
        </span>
      </div>
    </div>
  </ng-container>
</div>