.tabs-container {
  .nav-tabs {
    display: flex;
    align-items: center;
    padding: 0;
    background-color: lightsteelblue;
    height: 55px;
    width: 100%;
  }

  .nav-tabs li {
    width: 250px;
  }

  .title-color {
    color: black;
  }

  .active .nav-link {
    background-color: #f0f0f0;
  }

  a {
    text-decoration: none;
  }

  .add-tab {
    margin-top: 18px;
    margin-left: 10px;
    font-size: 15px;
    color: white;
    cursor: pointer;
  }

  .active-tab {
    margin-top: 12px;
    margin-right: 10px;
    float: right;
    color: white;
    background: rgb(185, 180, 180) !important;
  }

  .nav-link:hover {
    background-color: #e1e1e1;
  }

  .nav-link.active {
    background-color: #fff;
  }

  .nav-link:hover .close-icon {
    opacity: 1;
  }

  .nav-link {
    margin: 2px;
  }

  .nav-tabs {
    li {
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
      max-width: 250px;
    }

    .tabs-width {
      width: 250px !important;
    }

    .nav-link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 13px;
    }

    .close-icon {
      margin-left: 10px;
      font-size: 12px;
      cursor: pointer;
    }

    .dropdown {
      position: relative;
      margin-left: auto;
      margin-bottom: 10px;
    }

    .dropdown-menu {
      margin-top: 8px !important;
      right: 0px !important;
      width: 250px !important;
      height: auto !important;
    }

    .nav-link.title-color {
      padding-left: 20px;
    }

    @media screen and (max-width: 768px) {
      .close-icon,
      .tab-text {
        display: none;
      }

      .icon-wrapper {
        margin-right: 0;
      }

      .nav-link {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 13px;
        left: 0;
        margin: 0px;
      }
    }
  }
}

.edit-icon {
  margin-top: 12px !important;
  margin-left: 12px;
}
