.close-icon {
  color: black;
  font-size: 20px;
  cursor: pointer;
}

.close {
  text-decoration: none;
  border: none;
  background: transparent;
}

.is-invalid {
  border-color: red;
}
