<div class="modal-dialog mt-4" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="historyModalLabel">Tab History</h5>
      <a class="close">
        <span class="model-close-icon " (click)="closeModel()">&times;</span>
    </a>
    </div>
    <div class="modal-body">
      <ul class="nav">
        <li class="nav-item mt-2" *ngFor="let tab of tabs; let i = index" [class.active]="i === activeTabIndex">
          <span>{{ tab.newTabTitle }}</span>
          <span class="close-icon" (click)="closeTab(tab.id)">&times;</span>
        </li>
      </ul>
      <ng-container *ngIf="!tabs.length">
        <div class="text-center">
          <span>No data available</span>
        </div>
      </ng-container>
    </div>
  </div>
</div>
